body {
  background: linear-gradient(#9a08dd 0%, #dd4c4f 40%, #7420d3 100%);
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.profileimage {
  width: 200px;
}
.profile h2 {
  color: white;
}
.profile h4 {
  color: white;
  transform: translateY(-10px);
}
.biodata {
  background: linear-gradient(#ffffff 0%, #ffffffd3 40%, #ffffff00 100%);
  padding-bottom: 150px;
  padding-top: 55px;
}
.achievement {
  padding-top: 55px;
}
.footer {
  background-color: #fff;
  padding-bottom: 20px;
}
.contact a {
  color: #1e1b20;
  font-size: 30px;
}
.biodata p {
  transform: translateY(7px);
}
